<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="socketServer"
               type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="SuperSocketService"/>
    </appSettings>
    <socketServer logFactory="ConsoleLogFactory"
                  disablePerformanceDataCollector="true">
        <servers>
            <server name="SuperSocketFTP"
                    serverTypeName="ftpServer"
                    ip="Any" port="21"
                    maxConnectionNumber="100" logCommand="true"
                    userSetting="Config\FtpUser.xml"
                    textEncoding="utf-8"
                    dataPort="2100-2200">
            </server>
        </servers>
        <serverTypes>
            <add name="ftpServer"
                 type="SuperSocket.Ftp.FtpService.FtpServer, SuperSocket.Ftp.FtpService" />
        </serverTypes>
        <logFactories>
          <add name="ConsoleLogFactory"
               type="SuperSocket.SocketBase.Logging.ConsoleLogFactory, SuperSocket.SocketBase" />
        </logFactories>
    </socketServer>
</configuration>