<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService"/>
  </appSettings>
  <connectionStrings />
  <socketServer>
    <servers>
      <server name="RaccentFTP" serviceName="ftp" ip="Any" port="21" mode="Async"
              provider="Raccent.Ftp.XmlConfigFTP" enableManagementService="false"
              maxConnectionNumber="100" logCommand="true"
              userSetting="FtpUser.xml"
              dataPort="8080-8089">
      </server>
    </servers>
    <services>
      <service name="ftp"
               type="Raccent.Ftp.FtpService.FtpServer, Raccent.Ftp.FtpService">
      </service>
    </services>
  </socketServer>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>