<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="SupperSocketService"/>
    </appSettings>
    <connectionStrings />
    <socketServer>
        <servers>
            <server name="SuperSocketFTP"
                    serviceTypeName="ftp"
                    ip="Any" port="21" mode="Tcp"
                    ftpProviderName="xmlConfigFtp"
                    maxConnectionNumber="100" logCommand="true"
                    userSetting="FtpUser.xml"
                    dataPort="2100-2200">
            </server>
        </servers>
        <serverTypes>
            <add name="ftp"
                 type="SuperSocket.Ftp.FtpService.FtpServer, SuperSocket.Ftp.FtpService" />
        </serverTypes>
        <ftpProviders>
          <add name="xmlConfigFtp"
               type="SuperSocket.Ftp.XmlConfigFTP.XmlFtpProvider, SuperSocket.Ftp.XmlConfigFTP"/>
        </ftpProviders>
    </socketServer>
    <!--<system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <source name="System.Net.Sockets" maxdatasize="1024">
                <listeners>
                    <add name="SocketTrace"/>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="SocketTrace"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="Logs\System.Net.Trace.log" />
        </sharedListeners>
        <switches>
            <add name="System.Net.Sockets" value="Verbose" />
        </switches>
    </system.diagnostics>-->
</configuration>