<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
        <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="SupperSocketService"/>
    </appSettings>
    <connectionStrings />
    <socketServer consoleBaseAddress="http://localhost:8000/SuperSocket/">
        <servers>
            <server name="RaccentFTPAsync" serviceName="ftp" ip="Any" port="21" mode="Async"
                    provider="Raccent.Ftp.XmlConfigFTP" enableManagementService="false"
                    maxConnectionNumber="100" logCommand="true"
                    userSetting="FtpUser.xml"
                    dataPort="2100-2200">
            </server>
            <server name="RaccentFTPSync" serviceName="ftp" ip="Any" port="22" mode="Sync"
                    provider="Raccent.Ftp.XmlConfigFTP" enableManagementService="false"
                    maxConnectionNumber="100" logCommand="true"
                    userSetting="FtpUser.xml"
                    dataPort="2100-2200">
            </server>
        </servers>
        <services>
            <service name="ftp"
                     type="Raccent.Ftp.FtpService.FtpServer, Raccent.Ftp.FtpService">
                <!--<providers>
                    <add name="XmlFtpProvider" value="Raccent.Ftp.XmlConfigFTP" />
                </providers>-->
            </service>
        </services>
    </socketServer>
    <!--<system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <source name="System.Net.Sockets" maxdatasize="1024">
                <listeners>
                    <add name="SocketTrace"/>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="SocketTrace"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="Logs\System.Net.Trace.log" />
        </sharedListeners>
        <switches>
            <add name="System.Net.Sockets" value="Verbose" />
        </switches>
    </system.diagnostics>-->
</configuration>